doctype html
html
    head
        title Hello
    body
        pre.p.greeting#first.
            Knock Knock
            Who's there?
            Yippy ki.
            Yippy ki who?
            Yippy kiyay, motherfucker